@keyframes background-flash {
    0%   { background-color: #F3E5F5; }
    10%  { background-color: #E1BEE7; }
    20%  { background-color: #CE93D8; }
    30%  { background-color: #BA68C8; }
    40%  { background-color: #AB47BC; }
    50%  { background-color: #8E24AA; }
    60%  { background-color: #7B1FA2; }
    70%  { background-color: #6A1B9A; }
    80%  { background-color: #4A148C; }
    90%  { background-color: #311B92; }
    100% { background-color: #F3E5F5; }
}

@keyframes color-flash {
    0%   { color: #F3E5F5; }
    10%  { color: #E1BEE7; }
    20%  { color: #CE93D8; }
    30%  { color: #BA68C8; }
    40%  { color: #AB47BC; }
    50%  { color: #8E24AA; }
    60%  { color: #7B1FA2; }
    70%  { color: #6A1B9A; }
    80%  { color: #4A148C; }
    90%  { color: #311B92; }
    100% { color: #F3E5F5; }
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
   animation: background-flash 2s infinite, color-flash 2s infinite;
}

.todo-app {
    text-align: center;
    max-width: 400px;
    padding: 20px;
    width: 32rem;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: background-flash 2s infinite, color-flash 2s infinite;
}

input[type="text"]{
    color: white;
   animation: background-flash 2s infinite, color-flash 2s infinite;
}
ul {
    list-style-type: none;
    padding: 0;
  animation: background-flash 5s infinite, color-flash 10s infinite;
}

li {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    border-bottom: 1px solid #ccc;
  animation: background-flash 1s infinite, color-flash 10s infinite;
}

li.completed {
    text-decoration: line-through;
}

button {
    margin-top: 10px;
  animation: background-flash 2s infinite, color-flash 2s infinite;
}

h2{
    animation: color-flash 10s infinite;

}
